 
/*  .map {
      margin-left: 500px;
      top: 0;
      bottom: 0;
      width: 50%;
  }
  /* required styles 
.mapcontainer{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}*/
.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }