
<mat-toolbar color="primary">
  <mat-toolbar-row>
   <button mat-icon-button>
      <mat-icon (click)="bars.toggle();">menu</mat-icon>
    </button>
    <h1>MyWebDesign</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container >
    <mat-sidenav #bars opened="true" mode="side" class="side">
      <mat-nav-list>
        
        <a mat-list-item routerLink="/map"> Map App</a>
        
     
        <a mat-list-item routerLink="/quiz"> Quiz App</a>
     
        <a mat-list-item  routerLink="/canvas"> Canvas App </a>
        <a mat-list-item  routerLink="/imagegallery" > Gallery App</a>
        <a mat-list-item routerLink="/todo"> Todo Task App </a>
        <a mat-list-item routerLink="/weather"> Weather App</a>
        <a mat-list-item routerLink="/calc"> Calculator App</a>
 
  

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <p style="text-align: center;font-size: 50px;margin-top: 10px;">Welcome to this Website.....</p> 
      
          <div style="height: 80vh;">
      <router-outlet></router-outlet></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!--<span class="menu-spacer"></span>
    <div>
      <a mat-button  [routerLink]="'/'"> Accounts </a>
      <a mat-button [routerLink]="'/'"> Create Account </a>
      <a mat-button [routerLink]="'/'"> Contacts </a>
      <a mat-button [routerLink]="'/'"> Create Contact </a>
      <a mat-button [routerLink]="'/'"> Activities </a>
      <a mat-button [routerLink]="'/'"> Create Activity </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>



<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/'"> Accounts </a>
      <a mat-list-item [routerLink]="'/'"> Create Account </a>
      <a mat-list-item [routerLink]="'/'"> Contacts </a>
      <a mat-list-item [routerLink]="'/'"> Create Contact </a>
      <a mat-list-item [routerLink]="'/'"> Activities </a>
      <a mat-list-item [routerLink]="'/'"> Create Activity </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>-->