<div class="card">
    <div class="card-body">
        <div class="text-center p-3 m-3" (click)="openForm()" *ngIf="blankPanel">Click</div>
        <form  class="search-form" *ngIf="initialForm" [formGroup]="cityForm" (submit)="onSubmit()">
           <!--<div class="form-group">
                <label for="city">Enter a city</label>
                <input type="text" class="form-control" id="city" autocomplete="off" formControlName="city" required>
                <small>{{error}}</small>
            </div>--> 
            <div class="weather-app">
                                    <input
                        class="form-control" autocomplete="off"
                        type="text" formControlName="city" required
                        placeholder="Enter City Name"
                    />
                    <button class="search-btn" type="submit" [disabled]="!cityForm.valid">
                        <i class="material-icons">search</i>
                    </button>
                
            </div>
           <!-- <button type="submit" class="btn btn-primary" [disabled]="!cityForm.valid">Submit</button>-->
        </form>
        <div *ngIf="changeButton">
            <div class="city-date-section"> 
                <h2 class="city">{{weatherData.cityName}}</h2>
            </div>
            <div class="temperature-info">
                <div class="description">
                    <i class="material-icons"></i>
                    <span class="description-text">Temperature:<i class="fa-solid fa-temperature-quarter"></i>{{weatherData.temperature}}°c</span>
              
                </div>
                
            </div>
            
            <div class="additional-info">
                <div class="wind-info">
                    <i class="material-icons">air</i>
                    <div>
                       
                        <p class="wind-label">{{weatherData.wind}}Kmh</p>
                        <p class="wind-label">Wind</p>
 
                    </div>
                </div>
                <div class="humidity-info">
                    <i class="material-icons">water_drop</i>
                    <div>
                      
                        <p class="humidity-label">{{weatherData.humidity}}</p>
                        <p class="humidity-label">humidity</p>
                    </div>
                </div>
                <div class="visibility-info">
                    <i class="material-icons">visibility</i>
                    <div>
                       
                        <p class="visibility">{{weatherData.visibility}}</p>
                        <p class="visibility">Visibility</p>
                    </div>
                </div>
                <div class="visibility-info">
                   <!-- <i class='fas fa-bolt'></i>-->
                   <i class="material-icons">visibility</i>
                    <div>
                       
                        <p class="visibility">{{weatherData.description}}</p>
                        <p class="visibility">Description</p>
                    </div>
                </div>
            
            </div>
            <button type="button" class="btn btn-primary" (click)="changeCity()">Change city</button>


           <!-- <img src="https://openweathermap.org/img/wn/{{weatherData?.icon}}.png" class="card-img" alt="...">-->
            <!--<div class="card-img-overlay">
                <h5 style="color: black;font-size: 15px;text-align: center;"  class="card-title">{{weatherData.cityName}}</h5>
                <p class="card-text">Temp: {{weatherData.temperature}}</p>
                <p class="card-text">Description: {{weatherData.description}}</p>
                <p class="card-text">Humidity: {{weatherData.humidity}}</p>
                <p class="card-text">Wind: {{weatherData.wind}}</p>
                <button type="button" class="btn btn-primary" (click)="changeCity()">Change city</button>
            </div>-->
        </div>
    </div>
</div>